- content_for :title, "Ocorrências rejeitadas"

- @errors_ignoreds.each do |errors_ignored|
	%table.table.table-striped.table-bordered.table-hover
		%thead
			%tr
				%th{style:"width:50px"}
					Sistema
				%th{style:"width:450px"}
					Nome
				%th
					Erros de importação
				%th
					Auto ignore
			
		%tbody
			%tr.odd.gradeX
				%td
					= errors_ignored.source_system
				%td
					= errors_ignored[:response]["nome"] if errors_ignored.source_system == "oisol"
					= errors_ignored[:response]["nome"] if errors_ignored.source_system == "nudem"
				%td
					- if errors_ignored.import_error?
						- double=[]
						- errors_ignored.import_error.each do | error |
							%span.label.label-danger
								= t("base.errors_type.#{error["error_type"]}") if	!double.include?(error["error_type"])
								&nbsp;
							- double.push(error["error_type"])
			
				%td
					- if errors_ignored.ignore_error?
						- errors_ignored.ignore_error.each do | error |
							%span.label.label-danger
								= error["reason"]
				
			%tr
				%td{colspan:9}
					%table.table
						- if errors_ignored.import_error?
							- errors_ignored.import_error.each do | error |
								- if error["error_type"] != "association"
									%tr
										%td
											= t("base.errors_type.#{error["error_type"]}")
											= t("activerecord.models.#{error["classfy"].underscore}")
									%td
										= error["error"]